@inject Microsoft.AspNet.Hosting.IHostingEnvironment HostingEnvironment
@inject Microsoft.Framework.Runtime.IApplicationEnvironment ApplicationEnvironment
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/css/site.css" asp-file-version="true" />
    </environment>
</head>
<body>
    @RenderSection("PreContent", required: false)
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        &copy; 2015 Microsoft. All rights reserved.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <nav class="clearfix">
                        <ul role="navigation">
                            <li><a href="http://www.asp.net/privacy">Privacy Statement</a></li>
                            <li><a href="http://www.asp.net/privacy">Terms of Use</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 text-right">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("PostContent", required: false)
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
        <script src="~/js/site.js" asp-file-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

    <partial name="_Analytics" />
</body>
</html>
<!-- Environment: @HostingEnvironment.EnvironmentName -->
<!-- Framework: @ApplicationEnvironment.RuntimeFramework -->