@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject live.asp.net.Services.IDeploymentEnvironment DeploymentEnvironment

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="The weekly ASP.NET Community Standup covers live community Q&amp;A, product team discussion, and the most recent updates. Hosted by Scott Hanselman, Damian Edwards, and Jon Galloway. Recordings of previous meetings are available." />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="invisible"
              asp-fallback-test-property="visibility"
              asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <partial name="_Analytics" />
</head>
<body>
    @RenderSection("PreContent", required: false)
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        &copy; 2017 Microsoft. All rights reserved.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nav class="clearfix">
                        <ul>
                            <li><a href="https://privacy.microsoft.com/privacystatement">Privacy Statement</a></li>
                            <li><a href="https://www.asp.net/terms-of-use">Terms of Use</a></li>
                            <li><a href="https://github.com/aspnet/live.asp.net">Source Code</a></li>
                            <li><a href="https://github.com/aspnet/live.asp.net/issues">Issue Tracker</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6 text-right">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("PostContent", required: false)

    @RenderSection("scripts", required: false)
</body>
</html>
<!-- IsHttps: @Context.Request.IsHttps -->
<!-- Host: @Context.Request.Host.Host -->
<!-- ViewPath: @ViewContext.View.Path -->
<!-- ViewAssembly: @GetType().Assembly.FullName -->
<cache>
<!-- Environment: @HostingEnvironment.EnvironmentName -->
<!-- Application: @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationName, @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion -->
<!-- Deployment: @DeploymentEnvironment.DeploymentId -->
<!-- Framework: @DeploymentEnvironment.RuntimeFramework -->
<!-- OS: @System.Runtime.InteropServices.RuntimeInformation.OSDescription @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture -->
<!-- Machine: @Environment.MachineName -->
</cache>