@using live.asp.net.ViewModels
@using live.asp.net.Models
@model HomeViewModel

@{
    ViewData["Title"] = "ASP.NET Community Standup";
}

@section PreContent {
    <div class="jumbotron">
        <div class="container">
            <a href="https://www.microsoft.com">
                <svg width="100" height="21">
                    <image xlink:href="/images/Microsoft_logo.svg" src="/images/mslogo.png" width="100" height="21"></image>
                </svg>
            </a>
            <h1 class="text-center">
                ASP.NET Community Standup
                @if (Model.IsOnAir)
                {
                    <span class="label label-danger"><strong>ON AIR</strong></span>
                }
                else if (Model.HasAdminMessage)
                {
                    <span class="label label-warning"><strong>STANDBY</strong></span>
                }
            </h1>
            @if (Model.HasAdminMessage)
            {
                <h2 class="text-center">
                    @Model.AdminMessage
                </h2>
            }
            else if (Model.IsOnAir)
            {
                <partial name="_LiveShowPartial" model="Model"></partial>
            }
            else
            {
                <div class="next-episode text-center">
                    @if (Model.NextShowScheduled)
                    {
                        <div id="nextShowDetails"
                             data-utc-year="@Model.NextShowDateUtc.Value.Year"
                             data-utc-month="@(Model.NextShowDateUtc.Value.Month-1)"
                             data-utc-day="@Model.NextShowDateUtc.Value.Day"
                             data-utc-hour="@Model.NextShowDateUtc.Value.Hour"
                             data-utc-min="@Model.NextShowDateUtc.Value.Minute">
                            <h2>Next Episode Streaming Live on</h2>
                            <h2>
                                <strong data-part="showTime" class="hidden">
                                    @Model.NextShowDateUtc.Value.ToString("u")
                                </strong>
                            </h2>
                            <h2>
                                <span data-part="countdown">&nbsp;</span>
                            </h2>
                        </div>
                        <div class="btn-group">
                            <button id="addToCalendar" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add to calendar <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="addToCalendar">
                                <li><a asp-action="GetiCal" asp-protocol="https">Download iCalendar (ICS) file</a></li>
                                <li><a asp-action="GetiCal" asp-protocol="webcals">Add using webcal</a></li>
                                <li><a href="@Model.AddToGoogleUrl" target="_blank">Add to Google Calendar</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <h2>Streaming Live Every Tuesday</h2>
                        <p>Alternating between 9:30 AM and 3:45 PM Pacific Time, week to week.</p>
                    }
                    <p>Check back here to watch &amp; ask questions then!</p>
                </div>
            }
        </div>
    </div>
}

@if (Model.ShowPreviousShows)
{
    <h2>Previous Episodes</h2>

        <div class="row">
            @foreach (var show in Model.PreviousShows)
            {
                <partial name="_YouTubeShow" model="show"></partial>
            }
        </div>

        @if (Model.ShowMoreShowsUrl)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="@Model.MoreShowsUrl" class="btn btn-primary">See More Episodes</a>
                </div>
            </div>
        }
}

@section Scripts {
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/common.js" inline="true"></script>
        @if (Model.NextShowScheduled)
        {
        <script src="~/js/home.js" inline="true"></script>
        }
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <cache>
            <script src="~/js/common.min.js" inline="true"></script>
        </cache>
        @if (Model.NextShowScheduled)
        {
        <cache>
            <script src="~/js/home.min.js" inline="true"></script>
        </cache>
        }
    </environment>
    @if (Model.NextShowScheduled)
    {
    <script>
        (function () {
            window.siteJs.setNextShowDetails("nextShowDetails");
        })();
    </script>
    }
}
